.img-brand {
    height: 100px;
    width: auto;
}

body {
    font-family: Montserrat, "Open Sans", Arial;
    color: rgb(68, 68, 68);
}

header{
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #BC1E2D;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    color: #bc1e2d;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-link {
    color: #bc1e2d !important;
}

.nav-link.active, .nav-link:hover {
    font-weight: bold;
}

#main {
    margin: 50px 0px;
}

#courses {
    margin: 50px 0px;
}

#contact {
    border-radius: 50px 50px 0px 0px;
}
